*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all var(--transition-time) ease-in-out;
}

@import "./sass/shadows";
@import "./sass/colors";
@import "./sass/presets";

:root,
:root::before,
:root::after {
	--transition-time: 200ms;
	--head-height: 60px;

	--blue: #4285f4;
	--red: #ea4335;
	--yellow: #fbbc05;
	--green: #34a853;

	--font-red-hat-display: "Red Hat Display", sans-serif;
	--font-red-hat-text: "Red Hat Text", sans-serif;
	--font-poppins: "Poppins", sans-serif;
}

@import "./sass/mixins";
@import "./sass/responsive";
@import "./sass/variables";
@import "./sass/typography";

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: var(--font-poppins);
	overflow-x: hidden;
	min-height: 100vh;
}

*::-webkit-scrollbar {
	width: 1.5px;
	height: 1.5px;
	background: transparent;

	&-thumb {
		background: rgba(0, 0, 0, 0.5);
	}

	&-track {
		background: transparent;
	}
}

::selection {
	background-color: var(--green);
	color: var(--color-white);
}

.dispn {
	display: none !important;
}
